/* Example sidebar styles */
.sidebar {
  width: 250px; /* Adjust the width as needed */
  background: var(--b-bg-2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
}

.sidebar p {
  margin-left: 0.75rem;
  margin-right: 0.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-left: 1rem;
  margin-top: -1rem;
  margin-bottom: 2.25rem;
}

.sidebar li {
  list-style: none;
  padding: 0.25rem 0.25rem;
  border-bottom: 1px solid var(--b-line);
}

/* Adjustments to the main content area */
.main-content {
  margin-left: 250px; /* Same width as the sidebar */
  padding: 1rem;
}

.social-icons {
  display: flex;
  gap: 0.25rem;
}

.social-icons a {
  font-size: 24px;
  color: var(--b-link);
}

@media screen and (max-width: 480px) {
  .sidebar {
    width: 0px;
  }
  .main-content{
    margin-left: 0px;
    padding: 0rem;
  }  
}

@media screen and (max-width: 375px) {
  .sidebar {
    width: 0px;
  }
  .main-content{
    margin-left: 0px;
    padding: 0rem;
  }  
}

